@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.aboutWrapper {
  width: 100%;
  padding: 0 100px;
}

/* .aboutContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
} */

.aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  height: 250px;
  width: 100%;
  background-color: black;
  border-radius: 25px;
  position: relative;
  margin-top: 50px;
}

/* .brandCTA{
    color: white;
    position: absolute; 
    text-align: center;
    width: 100%;
    height: 0%;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 51;
   
} */

.aboutImg{
    opacity: 0.8;
    height: 250px;
    width: 100%;
    background-color: #f7f7f7;
    border-radius: 25px;
    position: relative;
    
}


.aboutWrapperlinks{
  width: 100%;
  padding: 0 100px;
}

.aboutFiabilite{

  display: flex;
  align-items: center;
  color: white;
  width: 90%;
  background-color: #FF6060;
  /* padding: 0 100px; */
  margin: 20px;
  border-radius: 5px;
}