.equipWrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 50%;
}

.equip-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ff6060;
  color: white;

  border-radius: 5px;
  padding: 10px;
}

.equip-content {
  display: none;
  color: #ff6060;

  border-radius: 5px;
  padding: 5px;
}


.chevron-icon-down{
  display: flex;
  color: rgb(255, 255, 255);
}