@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

ul {
  list-style-type: none;
}

.equipWrapper {
  font-family: Montserrat;
  display: flex;
  flex-direction: column;
  /* padding: 20px; */
  padding-bottom: 30px;
  width: 50%;
}

.equip-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ff6060;
  color: white;
  border-radius: 7px;
  padding: 10px;
}

.equip-content {
  font-weight: 300;
  line-height: 1.6;
  color: #ff6060;
  background-color: #f6f6f6;
  border-radius: 7px;
  padding: 15px;
}

.chevron-icon-down {
  display: flex;
  color: rgb(255, 255, 255);
}

.rotateIcon {
  transform: rotateX(180deg);
}

.equip-ul {
  display: flex;
  flex-direction: column;
}
.equip-li {
  display: flex;
  flex-direction: row;
  border-radius: 0%;
  background-color: transparent;
  color: #ff6060;
  padding: 5px;
  margin-right: 10px;
}

/* Media querrie */

/* Mobile version */

@media screen and (max-width: 767px) {
  .equipWrapper {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    padding-bottom: 20px;
    width: 100%;
    font-size: 16px;
  }
  .equip-ul {
    font-size: 16px;
  }
  .equip-li {
    font-size: 16px;
  }
}

/* Tablet version */
/* tablet, landscape iPad, lo-res laptops ands desktops */

@media screen and (min-width: 768px) and (max-width: 1150px) {
  .equip-ul {
    font-size: 16px;
  }
  .equip-li {
    font-size: 16px;
  }
}
