@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.headContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
  padding: 0 150px;
}

.headLogo {
  height: 33px;
  width: auto;
}

.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.header-link {
  color: #ff6060;
  text-decoration: none;
  font-size: 24px;
  text-align: center;
  font-weight: 500;
  font-style: normal;
  margin-left: 35px;
}

/* a:active {
  border-bottom: 3px solid red;
} */

/* Media querrie */

/* Mobile version */

@media screen and (max-width: 767px) {
  .headContainer {
    padding: 0 25px;
  }

  .headLogo {
    height: 20px;
  }

  .header-link {
    font-size: 12px;
    margin-left: 15px;
    text-transform: uppercase;
  }
}

/* Tablet version */
/* tablet, landscape iPad, lo-res laptops ands desktops */

@media screen and (min-width: 768px) and (max-width: 1150px) {
  .headContainer {
    padding: 0 25px;
  }
}
