@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.homeWrapper {
  font-family: Montserrat;
  padding: 0 150px;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
}

.brandContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
  width: 100%;
  background-color: black;
  border-radius: 25px;
  position: relative;
}

.brandCTA {
  color: white;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 0%;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 51;
}

.brandImg {
  opacity: 0.8;
  height: 250px;
  width: 100%;
  background-color: #f7f7f7;
  border-radius: 25px;
  position: relative;
  object-fit: cover;
}

/* Media querrie */

/* Mobile version */

@media screen and (max-width: 767px) {
  .homeWrapper {
    padding: 0 25px;
  }

  .homeContainer {
    margin-top: 30px;
  }

  .brandContainer {
    height: 110px;
  }
  .brandCTA {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    text-align: left;
    line-height: 100%;
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: 35%;
    left: 1%;
    bottom: 0;
    right: 0;
    padding: 5px;
  }

  .brandImg {
    height: 150px;
  }
}


/* Tablet version */
/* tablet, landscape iPad, lo-res laptops ands desktops */

@media screen and (min-width: 768px) and (max-width: 1150px) {
  .homeWrapper {
    padding: 0 25px;
  }

}