.rates{
    height: 20px;
    margin: 5px;
}

/* Media querrie */

/* Mobile version */

@media screen and (max-width: 767px) {
    .rates{
        height: 15px;
        margin: 2px;
        margin-bottom: 10px;
    }
}
